
.trackpad{
	width: 100%;
	height: 100%;
	background: #333;
	box-shadow: inset #252525 0px 0px 10px 10px;
	display: none;
}

.wz-win.menu .trackpad{
	display: block;
}

.button-control{
	width: 100%;
	height: 100%;
}

.button{
	float: left;
	width: 100%;
	height: 50%;
	box-sizing: border-box;
}

.button-up{
	border-top: 2px solid #4c4c4c;
	border-bottom: 2px solid #252525; 
	background:#383838;
    background-image: -moz-linear-gradient(50% 0% -90deg,rgba(56,56,56,1) 0%,rgba(51,51,51,1) 100%); 
    background-image: -webkit-linear-gradient(-90deg,rgba(56,56,56,1) 0%,rgba(51,51,51,1) 100%);
    background-image: -o-linear-gradient(-90deg,rgba(56,56,56,1) 0%,rgba(51,51,51,1) 100%);
    background-image: linear-gradient(0deg,rgba(51,51,51,1) 0%,rgba(56,56,56,1) 100%);
}

.button-down{
	border-top: 2px solid #484848;
	background:#333;
    background-image: -moz-linear-gradient(50% 0% -90deg,rgba(51,51,51,1) 0%,rgba(46,46,46,1) 100%); 
    background-image: -webkit-linear-gradient(-90deg,rgba(51,51,51,1) 0%,rgba(46,46,46,1) 100%);
    background-image: -o-linear-gradient(-90deg,rgba(51,51,51,1) 0%,rgba(46,46,46,1) 100%);
    background-image: linear-gradient(0deg,rgba(46,46,46,1) 0%,rgba(51,51,51,1) 100%);
}

.button.active{
	border: none;
	background: #83BF00;
}
