
.trackpad{
	width: 100%;
	height: 100%;
	background: #333;
	box-shadow: inset #252525 0px 0px 10px 10px;
}

.button{
	float: left;
	width: 100%;
	height: 50%;
}

.button-up{
	background: #0f0;
}

.button-down{
	background: #f00;
}

