.wz-win{
	background: #000;
}

.wz-win *{
	font-family: 'Press Start 2P',cursive;
	color: #FFF;
}

.wz-win-menu {
	width: 865px;
	height: 29px;
}

.wz-win-menu-group {
	padding: 1px 20px 0px;
}

.weepong {

	width: 865px;
	height: 520px;
	float: left;
	position: relative;

}

.weepong-score{

	font-size: 320%;
	position: absolute;
	top: 15px;
	display: none;

}

.weepong-pause{
	font-size: 350%;
	position: absolute;
	display: none;
}

.weepong-win {
	font-size: 350%;
	color: #fff;
	display: none;
	position: absolute;
}

.weepong-lose {
	font-size: 350%;
	color: #fff;
	display: none;	
	position: absolute;
}

.weepong-menu{
	width: 865px;
	float: left;
	text-align: center;
}

.weepong-container {
	width: 865px;
	float: left;
	text-align: center;
}

.weepong-container span {
	padding: 12px 22px;
	border: 1px solid transparent;
	font-size: 25px;
	display: inline-block;
}

.weepong-selection {
	height: 324px;
	padding: 98px 0px;
	display: block;
}

.weepong-mode {
	height: 162px;
	padding: 179px 0px;
	display: none;
}

.weepong-type {
	height: 162px;
	padding: 179px 0px;
	display: none;
}

.weepong-difficult {
	height: 324px;
	padding: 98px 0px;
	display: none;
}

.weepong-instructions { 
	height: 446px;
	padding: 37px 0px;
	display: none;
}

.weepong-instructions img {
	display: inline-block;
}

.weepong-title {
	display: block;
	font-size: 400%;
	color: #fff;
	margin-top: 10%;
}

#sound {
	position: absolute;
	top: 10%;
	right: 10%;
	background: url('https://static.weezeel.com/app/36/sound.png');
	height: 35px;
	width: 35px;
}

#selected {
	border: 1px solid #FFF;
}